# Virtual environment
venv/
.venv/

# Test files
test/
test/*

# GPT2 parameters
gpt2/
gpt2/*

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# ignoring all model to push into repo due large size
*.pth